body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(198, 192, 192);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
h1:before{
  content: "30% Offer this week";
  color: aliceblue;
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 14px;
  animation:change 6s linear infinite ;
}


@keyframes change{
  0%{
    content: "30% Offer this week";
  }
  20%{
    content: "30% Offer this week";
  }
  50%{
    content: "30% Offer this week";
    background-color: gray;
  }
  70%{
    content: "30% Offer this week";
    background-color: gray;
  }
  100%{
    content: "30% Offer this week";
    background-color: gray;
  }
  
}

li a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100px;
  height: 35px;
  text-decoration: none;
  background-color: rgb(90, 87, 87);
  text-align: center;
  border-radius: 10px;
  color: white;
  border: 2px solid black;
}
li a:hover{
  box-shadow: 5px 10px 18px black;
  background-color: #ebe4e4;
  color: blue;
  font-weight: bold;
}
.offerbanner p{
  width: 40%;
  font-size: 25px;
  font-style: italic;
  font-weight: bolder;
  text-align: start;
  color: #0b0b0b;
  background-color: rgba(100,100,100,0.5);
  padding-left: 14px;
}

#logo{
  height: 80px;
  width: 250px;
}
#footer{
  height:90px;
  width: 50px;
}
header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  height: 50px;
  width: auto;
  background-color: azure;
  border-radius: 15px;
}
nav ul{
  list-style: none;
  text-align: center;
}
nav li{
  display:inline-flex;
  padding: 10px;
}
main{
  display: block;
}
section{
  display: flex;
}
.container{
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
}
article{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
section .banner{
  height: 300px;
}
.offerbanner{
  height: 200px;
background-image: url("restaurant banner.jpg");
background-size: cover;
border-radius: 10px;
padding-top: 50px;
border: 5px solid rgb(99, 96, 99);
animation:rotate 5s alternate infinite;
}
@keyframes rotate{
  0%{
    background-image: url("restaurant banner.jpg");
  }
  50%{
    background-image: url("restaurant banner.jpg");
  }
  70%{
    background-image: url("edit.jpg");
  }
  100%{
    background-image: url("edit.jpg");
  }
}

footer{
  display: flex;
  padding-top: 300px;
}
footer div{
  flex:1;
}
footer div:nth-child(2){
  border-top: 2px solid black;
  padding-top: 10px;
  text-align: right;
}
article .card{
  width: 300px;
  height: 500px;
  border-radius: 10px;
  display: block;
  text-align: center;
  border: 2px solid black;
  background-color: #f6a2e6;
}
.card img{
  width:215px;
  height:200px;
  border-radius: 10px;
}
article .card:hover{
  box-shadow: 7px 15px 20px black;
  background-color: #ebe4e4;
  opacity: 0.5;
  
}
.card p{
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width:1000px)and (min-width:100px) {
  .offerbanner{
    background-image: url("restaurant banner.jpg");
    background-size:100% 100%;
    overflow: hidden;
  }
  .offerbanner p{
    width: 60%;
    height: 45%;
    font-size: 10px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    justify-content: left;
    color: #ebe4e4;
    padding-left: 0px;
    padding-top: 20px;
    
  }
  h1{
    width:40%;
    color: aliceblue;
    font-size: 2.5vw;
    font-weight: bold;
    padding-left: 5px;
    justify-content: left;
}
nav li{
  display:inline-flex;
  padding: 0;
  
}
nav ul{
  text-align:left ;
}
li a{
  width: 60px;
}


}